<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=	, initial-scale=1.0">
    <title>List of Authorit_users</title>
    <!-- версия для разработки, отображает полезные предупреждения в консоли -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

</head>
<body>
<div class="class">
    <div class="vue">
        {{massage}}
    </div>
</div>
<script type="text/javascript">
		var app = new Vue({
			el: '#vue',
			data: {
				message: 'Привет, Vue!'
			}
		})
	</script>
<button class="add"></button>
<ul>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>

<table class="Visible Table">
    <tr>
        <td>1</td>
        <td>2</td>
    </tr>
    <tr>
        <td>1</td>
        <td>2</td>
    </tr>
    <tr>
        <td>1</td>
        <td>2</td>
    </tr>
</table>
<div>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae ipsum explicabo deleniti dolorum laudantium itaque commodi voluptatem possimus, molestias, consequatur, ut asperiores minima placeat quis tempore, eveniet consequuntur eos beatae!
</div>
</div>

</body>
</html>